@{

}

<div class="header">
    <div class="logo-keeper">
        <div class="logo" ui-sref="events">
            <div class="korgie-title"><span class="korgie-title-text">Korgie</span></div>
        </div>
    </div>
    <nav class="container" ng-controller="HomeCtrl">
        <div class="navicons" layout-align="end start" layout-gt-sm="row">
            <div class="email"><span class="fs-subhead display-block">@ViewBag.Email</span></div>
            <div layout="row" layout-align="end start" layout-align-sm="center center">
                <div><button class="btn btn--m btn--teal" lx-ripple type="button" ui-sref="notifications" ng-class="getCurrentState('notifications')"><i class="mdi mdi-bell-outline"></i></button></div>
                <div><button class="btn btn--m btn--teal" lx-ripple type="button" ui-sref="settings" ng-class="getCurrentState('settings')"><i class="mdi mdi-settings"></i></button></div>
                <div><button class="btn btn--m btn--teal btn--icon" lx-ripple type="button" onclick="location.href='@Url.Action("Index", "Home", new { isSignOut = true})'"><i class="mdi mdi-logout"></i></button></div>
            </div>
        </div>
        <div layout="row" layout-sm="column" layout-md="column" layout-align-md="end end">
            <div class="menu" flex="70" flex-order-sm="2" flex-order="1" flex-sm="100" flex-md="100" flex-order-md="2">
                <ul class="nav">
                    <li><button class="btn btn--m btn--teal" lx-ripple ui-sref="events" ng-class="getCurrentState('events')">Events</button></li>
                    <li><button class="btn btn--m btn--teal btn--flat" lx-ripple disabled>Notes</button></li>
                    <li><button class="btn btn--m btn--teal" lx-ripple ui-sref="contacts" ng-class="getCurrentState('contacts.mycontacts')">Contacts</button></li>
                    <li><button class="btn btn--m btn--teal btn--flat" lx-ripple disabled>Statistics</button></li>
                </ul>
            </div>
            <div class="searchfield" flex="30" flex-order-sm="1" flex-order="2" flex-sm="100" flex-md="100" flex-order-md="1">
                <div flex-item>
                    <lx-text-field label="Search">
                        <input type="text" ng-model="search" disabled>
                    </lx-text-field>
                </div>
            </div>
        </div>
    </nav>
</div>

<div ui-view autoscroll="false" class="div">
    
</div>

<div class="footer" layout="row" layout-align="space-around center">
    <div>About</div>
    <div>copyright</div>
    <div>socials</div>
</div>