@using Korgie.Models
@model Event[]

<div class="header">
    <div class="logo-keeper">
        <div class="logo"></div>
    </div>
    <nav class="container">
        <div class="nav navbar-right menu">
            <ul class="nav">
                <li class="active"><a href="#">Events</a></li>
                <li><a href="#">Notes</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Notifications</a></li>
                <li><a href="#">Statistics</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="dark-div" ng-click="showHideMenu()"></div>
<div class="container content" ng-controller="EventsCtrl" id="events-month">
    <div class="mobile-header" layout="row" layout-align="start center" hide-gt-sm>
        <button type="button" class="btn btn-link btn-lg" flex="15" ng-click="showHideMenu()">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </button>
        <h2 flex="70">Events</h2>
    </div>
    <div layout-align="center center" layout="row"><!--class="row seven-cols"-->
        <div class="month-header" layout="row" layout-align="space-between center">
            <button type="button" class="btn btn-default" ng-click="prevMonth()">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            </button>
            {{month | monthName}}, {{year}}
            <button type="button" class="btn btn-default" ng-click="nextMonth()">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div layout="row" layout-align="space-around center" class="week-days">
        <div>Mon</div><!--class="col-xs-1"-->
        <div>Tue</div>
        <div>Wed</div>
        <div>Thu</div>
        <div>Fri</div>
        <div>Sat</div>
        <div>Sun</div>
    </div>
    <day-of-month month={{month}} year={{year}} monthdays="days"></day-of-month>
</div>

<div class="footer" layout="row" layout-align="space-around center">
    <div>About</div>
    <div>copyright</div>
    <div>socials</div>
</div>