@{

}

<div class="header">
    <div class="logo-keeper">
        <div class="logo" ui-sref="events">
            <div class="korgie-title"><span class="korgie-title-text">Korgie</span></div>
        </div>
    </div>
    <nav class="container" ng-controller="HomeCtrl">
        <div class="navicons" layout-align="end start" layout-gt-sm="row">
            <div class="email"><span class="fs-subhead display-block">{{name}}</span></div>
            <div layout="row" layout-align="end start" layout-align-sm="center center">
                <div><button class="btn btn--m btn--teal" lx-ripple type="button" ui-sref="notifications" ng-class="getCurrentState('notifications')"><i class="mdi mdi-bell-outline"></i></button></div>
                <div><button class="btn btn--m btn--teal" lx-ripple type="button" ui-sref="settings" ng-class="getCurrentState('settings')"><i class="mdi mdi-settings"></i></button></div>
                <div><button class="btn btn--m btn--teal btn--icon" lx-ripple type="button" onclick="location.href='@Url.Action("Index", "Home", new { isSignOut = true})'"><i class="mdi mdi-logout"></i></button></div>
            </div>
        </div>
        <div layout="row" layout-align-md="end end">
            <div class="menu" flex="70" flex-sm="100" flex-md="100">
                <ul class="nav">
                    <li><button class="btn btn--m btn--teal" lx-ripple ui-sref="events" ng-class="getCurrentState('events')">Events</button></li>
                    <li><button class="btn btn--m btn--teal" lx-ripple ui-sref="contacts" ng-class="getCurrentState('contacts.mycontacts')">Contacts</button></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div ui-view autoscroll="false" class="div">
    
</div>