<div layout="column" layout-align="space-around center">
    <div class="card add-contact-card" layout="column" layout-align="space-around center">
        <div class="add-contact-card-search">
            <form name="myForm">
                <lx-text-field label="Enter email">
                    <input type="email" name="add-email" ng-model="email1" required>
                </lx-text-field>
                <span class="error" ng-show="myForm.add-email.$error.required">Email invalid</span>
            </form>
        </div>
        <button class="btn btn--m btn--blue btn--flat" lx-ripple ng-click="add()">Add contact</button>
    </div>
    <div class="card add-contact-card" layout="column" layout-align="space-around center">
        <div class="add-contact-card-search">
            <lx-text-field label="Enter email">
                <input type="text" ng-model="email2" disabled>
            </lx-text-field>
        </div>
        <button class="btn btn--m btn--blue btn--flat" id="invite-contact" lx-ripple disabled>Invite to the app</button>
    </div>
    <lx-dialog class="card dialog dialog--m" style="width:400px !important; left:50% !important; top:30% !important; margin-left:-200px" id="add_ok" auto-close="true">
        <div class="dialog__header">
            <div class="toolbar pl++" style="text-align:center !important; padding-bottom:0px !important;height:40px !important;margin-bottom:20px">
                <span class="toolbar__label tc-black fs-title" style="height:40px !important; margin-bottom:20px">
                    You added
                </span>
            </div>
            <div class="toolbar pl++" style="text-align:center !important; padding-bottom:0px !important; padding-top:0px !important;height:40px !important">
                <span class="toolbar__label tc-black fs-title" style="height:40px !important">
                    {{email1}}
                </span>
            </div>
            <div class="toolbar pl++" style="text-align:center !important; padding-bottom:0px !important; padding-top:0px !important;height:40px !important">
                <span class="toolbar__label tc-black fs-title" style="height:40px !important">
                    to contacts!
                </span>
            </div>
        </div>
        <div class="dialog__actions" style="text-align:center !important; padding-top:0px !important;">
            <button class="btn btn--m btn--green btn--raised ok" lx-ripple lx-dialog-close>OK</button>
        </div>
    </lx-dialog>
    <lx-dialog class="card dialog dialog--m" style="width:400px !important; left:50% !important; top:30% !important; margin-left:-200px" id="add_failed" auto-close="true">
        <div class="dialog__header">
            <div class="toolbar pl++" style="text-align:center !important; padding-bottom:0px !important">
                <span class="toolbar__label tc-black fs-title">
                    Adding failed =(
                </span>
            </div>
        </div>
        <div class="dialog__actions" style="text-align:center !important; padding-top:0px !important;">
            <button class="btn btn--m btn--red btn--raised ok" lx-ripple lx-dialog-close>OK</button>
        </div>
    </lx-dialog>
    <lx-dialog class="card dialog dialog--m" style="width:400px !important; left:50% !important; top:30% !important; margin-left:-200px" id="already_sent" auto-close="true">
        <div class="dialog__header">
            <div class="toolbar pl++" style="text-align:center !important; padding-bottom:0px !important;height:40px !important;margin-bottom:20px">
                <span class="toolbar__label tc-black fs-title" style="height:40px !important; margin-bottom:20px">
                    You've already sent a request to
                </span>
            </div>
            <div class="toolbar pl++" style="text-align:center !important; padding-bottom:0px !important; padding-top:0px !important;height:40px !important">
                <span class="toolbar__label tc-black fs-title" style="height:40px !important">
                    {{email1}}
                </span>
            </div>
        </div>
        <div class="dialog__actions" style="text-align:center !important; padding-top:0px !important;">
            <button class="btn btn--m btn--red btn--raised ok" lx-ripple lx-dialog-close>OK</button>
        </div>
    </lx-dialog>
    <lx-dialog class="card dialog dialog--m" style="width:400px !important; left:50% !important; top:30% !important; margin-left:-200px" id="already_friend" auto-close="true">
        <div class="dialog__header">
            <div class="toolbar pl++" style="text-align:center !important; padding-bottom:0px !important;height:40px !important;margin-bottom:20px">
                <span class="toolbar__label tc-black fs-title" style="height:40px !important; margin-bottom:20px">
                    You have
                </span>
            </div>
            <div class="toolbar pl++" style="text-align:center !important; padding-bottom:0px !important; padding-top:0px !important;height:40px !important">
                <span class="toolbar__label tc-black fs-title" style="height:40px !important">
                    {{email1}}
                </span>
            </div>
            <div class="toolbar pl++" style="text-align:center !important; padding-bottom:0px !important; padding-top:0px !important;height:40px !important">
                <span class="toolbar__label tc-black fs-title" style="height:40px !important">
                    as a firend!
                </span>
            </div>
        </div>
        <div class="dialog__actions" style="text-align:center !important; padding-top:0px !important;">
            <button class="btn btn--m btn--red btn--raised ok" lx-ripple lx-dialog-close>OK</button>
        </div>
    </lx-dialog>
    <lx-dialog class="card dialog dialog--m" style="width:400px !important; left:50% !important; top:30% !important; margin-left:-200px" id="already_got" auto-close="true">
        <div class="dialog__header">
            <div class="toolbar pl++" style="text-align:center !important; padding-bottom:0px !important;height:40px !important;margin-bottom:20px">
                <span class="toolbar__label tc-black fs-title" style="height:40px !important; margin-bottom:20px">
                    You've already recieved a request from
                </span>
            </div>
            <div class="toolbar pl++" style="text-align:center !important; padding-bottom:0px !important; padding-top:0px !important;height:40px !important">
                <span class="toolbar__label tc-black fs-title" style="height:40px !important">
                    {{email1}}
                </span>
            </div>
        </div>
        <div class="dialog__actions" style="text-align:center !important; padding-top:0px !important;">
            <button class="btn btn--m btn--red btn--raised ok" lx-ripple lx-dialog-close>OK</button>
        </div>
    </lx-dialog>
</div>
