<div class="dark-div" ng-click="showHideMenu()"></div>
<div class="container content set">
    <div class="mobile-header" layout="row" layout-align="space-between center" hide-gt-sm>
        <button type="button" class="btn btn--m btn--blue btn--icon" ng-click="showHideMenu()">
            <i class="mdi mdi-menu"></i>
        </button>
        <h2>Notifications</h2>
        <div style="width:41px"></div>
    </div>
    <div>
        <div layout="column" layout-wrap layout-align="start center">
            <div class="card notific-card" ng-repeat="not in notifications | orderBy:['-Actual','-Date']" ng-class="isActual(not.NotId)">
                <div layout="column">
                    <div layout="row">
                        <div flex="auto"></div>
                        <div ng-class="isActualHide(not.NotId)">
                            <button class="btn btn--s btn--grey btn--icon" lx-ripple ng-click="uncheck(not.NotId)" ng-disabled="not.Actual == false"><i class="mdi mdi-close"></i></button>
                        </div>
                    </div>
                    <div layout="row" layout-align="space-around center" layout-md="row" layout-sm="column" ng-click="getPath(not.Type)" style="cursor:pointer"><!-- ui-sref="getPath(not.Type)"-->
                        <div layout="column" style="width:60%">
                            <div layout="column">
                                <div ng-if="not.Type == 1" class="not1">There is upcoming event "{{not.Data | notifyTitle}}"</div>
                                <div ng-if="not.Type == 1" class="not1">on {{not.Data | notifyDate}}</div>
                                <div ng-if="not.Type == 2" class="not2">{{not.Data}} sent you contact request</div>
                                <div ng-if="not.Type == 3" class="not3">{{not.Data}} deleted you from contacts</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="nots.length == 0" class="no-data-ng-if">You don't have any notifications</div>
    </div>
</div>
