<div layout="row" layout-wrap layout-align="space-around center" layout-lg="column" layout-md="column" layout-sm="column" class="contacts-block">
    <div flex="45" class="card sent-card" ng-repeat="request in requests" flex-lg="60" flex-md="70" flex-sm="90">
        <div layout="column" layout-align="space-around center" class="sent-card-info">
            <div>
                <span class="fs-body-2 display-block tc-black-1">You sent a request to</span>
            </div>
            <div>
                <div>
                    <span class="fs-subhead display-block tc-indigo-900">{{request.NameTo}} ({{request.To}})</span>
                </div>
            </div>
            <div>
                <div>
                    <span><b>{{request.State}}</b></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="requests.length == 0" class="no-data-ng-if">You don't have any sent requests</div>