<div class="dark-div" ng-click="showHideMenu()"></div>
<div class="container content set">
    <div class="mobile-header" layout="row" layout-align="space-between center" hide-gt-sm>
        <button type="button" class="btn btn--m btn--blue btn--icon" ng-click="showHideMenu()">
            <i class="mdi mdi-menu"></i>
        </button>
        <h2>Settings</h2>
        <div style="width:41px"></div>
    </div>
                        <div layout="column" class="mainsettingsblock">
                            <div class="settingsheader" style="margin-top:0px;">
                                <span class="fs-title display-block">Profile</span>
                            </div>
                                <div layout="row" layout-align="space-around center" layout-md="column" layout-sm="column">
                                    <div class="text-align-center">
                                        <div class="avatar">
                                        </div>
                                    </div>
                                    <div class="text-align-right">
                                        <div layout="row" layout-align="space-around center" class="profilelines">
                                            <div flex="30" class="text-align-left label-setting-list">
                                                <span class="fs-subhead display-block">Name:</span>
                                            </div>
                                            <div flex="70" class="text-align-left settings-field-value">
                                                <span class="fs-subhead display-block">{{name}}</span>
                                            </div>
                                        </div>
                                        <div layout="row" layout-align="space-around center" class="profilelines">
                                            <div flex="30" class="text-align-left label-setting-list">
                                                <span class="fs-subhead display-block">Primary email:</span>
                                            </div>
                                            <div flex="70" class="text-align-left settings-field-value">
                                                <span class="fs-subhead display-block">{{primaryEmail}}</span>
                                            </div>
                                        </div>
                                        <div layout="row" layout-align="space-around center" class="profilelines">
                                            <div flex="30" class="text-align-left label-setting-list">
                                                <span class="fs-subhead display-block">Phone:</span>
                                            </div>
                                            <div flex="70" class="text-align-left settings-field-value">
                                                <span class="fs-subhead display-block">{{phone}}</span>
                                            </div>
                                        </div>
                                        <div layout="row" layout-align="space-around center" class="profilelines">
                                            <div flex="30" class="text-align-left label-setting-list">
                                                <span class="fs-subhead display-block">Country:</span>
                                            </div>
                                            <div flex="70" class="text-align-left settings-field-value">
                                                <span class="fs-subhead display-block">{{country}}</span>
                                            </div>
                                        </div>
                                        <div layout="row" layout-align="space-around center" class="profilelines">
                                            <div flex="30" class="text-align-left label-setting-list">
                                                <span class="fs-subhead display-block">City:</span>
                                            </div>
                                            <div flex="70" class="text-align-left settings-field-value">
                                                <span class="fs-subhead display-block">{{city}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="settingsheader">
                                <span class="fs-title display-block">Events</span>
                            </div>
                            <div>
                                <div layout="row" layout-align="center center" class="eventelement" ng-repeat="type in types">
                                    <div flex="10" class="eventname" flex-md="20" flex-sm="20">
                                        <span class="fs-title display-block">{{type[0]}}</span>
                                    </div>
                                    <div flex="10" class="eventicon" flex-md="20" flex-sm="20">
                                        <button class="btn btn--s {{type[1]}} btn--fab type-button" color="{{type[1]}}" lx-ripple ng-click="slideColors($event)" id="{{$index}}"><i class="mdi {{typesIcons[$index]}}"></i></button>
                                    </div>
                                    <div class="selecteventcolor colors-closed" id="workcolors">
                                        <button class="btn btn--s {{color}} btn--fab color-button" color="{{color}}" lx-ripple ng-click="setColor($event)" ng-repeat="color in colors"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
</div>