<div class="dark-div" ng-click="showHideMenu()"></div>
<div class="container content">
    <div class="mobile-header" layout="row" layout-align="start center" hide-gt-sm>
        <button type="button" class="btn btn--m btn--blue btn--icon" ng-click="showHideMenu()">
            <i class="mdi mdi-menu"></i>
        </button>
        <h2>Settings</h2>
    </div>  
                  <div class="settingsarea">
                        <div layout="column" class="mainsettingsblock">
                            <div>
                                <div layout="row" layout-align="space-around center" layout-md="column" layout-sm="column">
                                    <div style="text-align:center">
                                        <div class="avatar">
                                        </div>
                                    </div>
                                    <div style="text-align:right">
                                        <button class="btn btn--s btn--blue btn--icon" lx-ripple><i class="mdi mdi-pencil"></i></button>
                                        <div layout="row" layout-align="space-around center" style="width:400px">
                                            <div flex="30" style="text-align:left">
                                                <span class="fs-subhead display-block">Name:</span>
                                            </div>
                                            <div flex="70" style="text-align:left">
                                                <span class="fs-subhead display-block">Frank Martin</span>
                                            </div>
                                        </div>
                                        <div layout="row" layout-align="space-around center" style="width:400px">
                                            <div flex="30" style="text-align:left">
                                                <span class="fs-subhead display-block">Primary email:</span>
                                            </div>
                                            <div flex="70" style="text-align:left">
                                                <span class="fs-subhead display-block">testemail@email.com</span>
                                            </div>
                                        </div>
                                        <div layout="row" layout-align="space-around center" style="width:400px">
                                            <div flex="30" style="text-align:left">
                                                <span class="fs-subhead display-block">Phone:</span>
                                            </div>
                                            <div flex="70" style="text-align:left">
                                                <span class="fs-subhead display-block">0935482342923</span>
                                            </div>
                                        </div>
                                        <div layout="row" layout-align="space-around center" style="width:400px">
                                            <div flex="30" style="text-align:left">
                                                <span class="fs-subhead display-block">Country</span>
                                            </div>
                                            <div flex="70" style="text-align:left">
                                                <span class="fs-subhead display-block">Ukraine</span>
                                            </div>
                                        </div>
                                        <div layout="row" layout-align="space-around center" style="width:400px">
                                            <div flex="30" style="text-align:left">
                                                <span class="fs-subhead display-block">City</span>
                                            </div>
                                            <div flex="70" style="text-align:left">
                                                <span class="fs-subhead display-block">Kharkiv</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin:10px; margin-top:30px">
                                <span class="fs-title display-block">Events</span>
                            </div>
                            <div>
                                <div layout="row" layout-align="center center" class="eventelement">
                                    <div flex="10" class="eventname" flex-md="20" flex-sm="20">
                                        <span class="fs-title display-block">Work</span>
                                    </div>
                                    <div flex="10" class="eventicon" flex-md="20" flex-sm="20">
                                        <button class="btn btn--s btn--blue btn--fab" lx-ripple><i class="mdi mdi-briefcase"></i></button>
                                    </div>
                                    <div class="selecteventcolor">
                                        <button class="btn btn--s btn--blue btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--red btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--purple btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--green btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--yellow btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--orange btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--teal btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--pink btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--grey btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                    </div>
                                </div>
                                <div layout="row" layout-align="center center" class="eventelement">
                                    <div flex="10" class="eventname" flex-md="20" flex-sm="20">
                                        <span class="fs-title display-block">Studing</span>
                                    </div>
                                    <div flex="10" class="eventicon" flex-md="20" flex-sm="20">
                                        <button class="btn btn--s btn--yellow btn--fab" lx-ripple><i class="mdi mdi-book-open"></i></button>
                                    </div>
                                    <div class="selecteventcolor">
                                        <button class="btn btn--s btn--blue btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--red btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--purple btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--green btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--yellow btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--orange btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--teal btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--pink btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--grey btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                    </div>
                                </div>
                                <div layout="row" layout-align="center center" class="eventelement">
                                    <div flex="10" class="eventname" flex-md="20" flex-sm="20">
                                        <span class="fs-title display-block">Sport</span>
                                    </div>
                                    <div flex="10" class="eventicon" flex-md="20" flex-sm="20">
                                        <button class="btn btn--s btn--teal btn--fab" lx-ripple><i class="mdi mdi-dumbbell"></i></button>
                                    </div>
                                    <div class="selecteventcolor">
                                        <button class="btn btn--s btn--blue btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--red btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--purple btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--green btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--yellow btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--orange btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--teal btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--pink btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--grey btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                    </div>
                                </div>
                                <div layout="row" layout-align="center center" class="eventelement">
                                    <div flex="10" class="eventname" flex-md="20" flex-sm="20">
                                        <span class="fs-title display-block">Relaxing</span>
                                    </div>
                                    <div flex="10" class="eventicon" flex-md="20" flex-sm="20">
                                        <button class="btn btn--s btn--red btn--fab" lx-ripple><i class="mdi mdi-beach"></i></button>
                                    </div>
                                    <div class="selecteventcolor">
                                        <button class="btn btn--s btn--blue btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--red btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--purple btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--green btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--yellow btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--orange btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--teal btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--pink btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--grey btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                    </div>
                                </div>
                                <div layout="row" layout-align="center center" class="eventelement">
                                    <div flex="10" class="eventname" flex-md="20" flex-sm="20">
                                        <span class="fs-title display-block">Additional</span>
                                    </div>
                                    <div flex="10" class="eventicon" flex-md="20" flex-sm="20">
                                        <button class="btn btn--s btn--green btn--fab" lx-ripple><i class="mdi mdi-plus"></i></button>
                                    </div>
                                    <div class="selecteventcolor">
                                        <button class="btn btn--s btn--blue btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--red btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--purple btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--green btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--yellow btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--orange btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--teal btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--pink btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                        <button class="btn btn--s btn--grey btn--fab" lx-ripple><i class="mdi mdi-none"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div style="margin:10px; margin-top:30px">
                                <span class="fs-title display-block">Notifications</span>
                            </div>
                            <div style="text-align:right">
                                <button class="btn btn--s btn--blue btn--icon" lx-ripple><i class="mdi mdi-pencil"></i></button>
                                <div layout="row" layout-align="center center" layout-md="column" layout-sm="column">
                                    <div flex="30" flex-md="80" flex-sm="80">
                                        <div class="switch">
                                            <input type="checkbox" id="switch1" class="switch__input">
                                            <label for="switch1" class="switch__label">Notify me about upcoming events.</label>
                                        </div>
                                    </div>
                                    <div flex="10" style="text-align:right">
                                        <span class="fs-subhead display-block">Email:</span>
                                    </div>
                                    <div>
                                        <span class="fs-subhead display-block">testemail@email.com</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</div>