<!DOCTYPE html>
<html id="ng-app" ng-app="korgie">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Korgie</title>

    <link href="~/Content/customStyles.css" rel="stylesheet" />
    <link href="~/Content/settingsStyles.css" rel="stylesheet" />
    <link href="~/Content/contactsStyles.css" rel="stylesheet" />
    <link href="~/Content/notificationStyles.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Content/icon.png" />

    <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="~/Scripts/libs/lumX-0.3.95/dist/lumx.css" rel="stylesheet" />
    <!--link href="~/Scripts/libs/mdi/css/materialdesignicons.css" rel="stylesheet" />
    <link href="~/Scripts/libs/mdi/css/materialdesignicons.min.css" rel="stylesheet" /-->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
</head>
<body>
    @RenderBody()

    <!-- Libraries -->
    <script src="~/Scripts/libs/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="~/Scripts/libs/angular.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script src="~/Scripts/libs/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/libs/lumX-0.3.95/dist/lumx.js" type="text/javascript"></script>    
    <script src="~/Scripts/libs/moment/moment.js" type="text/javascript"></script>
    <script src="~/Scripts/libs/velocity/velocity.js"></script>
    <script src="~/Scripts/libs/velocity/velocity.ui.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/controllers/eventsCtrl.js" type="text/javascript"></script>
    <script src="~/Scripts/controllers/homeCtrl.js" type="text/javascript"></script>
    <script src="~/Scripts/controllers/notificationsCtrl.js" type="text/javascript"></script>
    <script src="~/Scripts/controllers/settingsCtrl.js" type="text/javascript"></script>
    <script src="~/Scripts/controllers/contactsCtrl.js" type="text/javascript"></script>
    <script src="~/Scripts/controllers/mycontactsCtrl.js" type="text/javascript"></script>
    <script src="~/Scripts/controllers/addcontactCtrl.js" type="text/javascript"></script>
    <script src="~/Scripts/controllers/sentCtrl.js" type="text/javascript"></script>
    <script src="~/Scripts/controllers/recievedCtrl.js" type="text/javascript"></script>
    <script src="~/Scripts/services/filters.js" type="text/javascript"></script>
    <script src="~/Scripts/services/configs.js" type="text/javascript"></script>
    <script src="~/Scripts/services/directives.js" type="text/javascript"></script>
    <script src="~/Scripts/services/services.js" type="text/javascript"></script>
</body>
</html>
