.notific-card{
    margin-top:30px; 
    padding:5px; 
    padding-bottom:15px;
    min-width:580px;
}

@media (max-width: 599px) {
    .notific-card{
        width:95% !important;
        min-width:unset !important;
        margin-top:15px; 
        padding:5px;
        padding-bottom:10px;
    }
}