@{

}

<div class="header">
    <div class="logo-keeper">
        <div class="logo"></div>
    </div>
    <nav class="container">
        <div layout="column" layout-align="start end">
            <div>@ViewBag.Email</div>
            <!--Edit signout-button class-->
        </div>
        <div class="nav navbar-right menu">
            <ul class="nav">
                <li class="active"><button class="btn btn--m btn--blue btn--flat" lx-ripple>Events</button></li>
                <li><button class="btn btn--m btn--blue btn--flat" lx-ripple>Notes</button></li>
                <li><button class="btn btn--m btn--blue btn--flat" lx-ripple>Contacts</button></li>
                <li><button class="btn btn--m btn--blue btn--flat" lx-ripple>Notifications</button></li>
                <li><button class="btn btn--m btn--blue btn--flat" lx-ripple>Statistics</button></li>
                <li><button class="btn btn--m btn--blue btn--icon" lx-ripple type="button"><i class="mdi mdi-settings"></i></button></li>
                <li><button class="btn btn--m btn--blue btn--icon" lx-ripple type="button" onclick="location.href='@Url.Action("Index", "Home", new { isSignOut = true})'"><i class="mdi mdi-logout"></i></button></li>
            </ul>
        </div>
    </nav>
</div>

<div>
    <section ng-include="'../../ContentViews/Events.html'" ng-controller="EventsCtrl"></section>
</div>

<div class="footer" layout="row" layout-align="space-around center">
    <div>About</div>
    <div>copyright</div>
    <div>socials</div>
</div>