
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> It's Korgie main page!
        <br>
        <a href="~/Account/Login">LOGIN</a>
    </div>
</body>
</html>
